# gitignore

# twincat
*.tpy
*.tclrs
*.compiled-library
*.compileinfo
*.tmc
*.tmcRefac
*.library
*.project.~u
*.tsproj.bak
*.xti.bak
LineIDs.dbg
LineIDs.dbg.bak
_Boot/
_CompileInfo/
_Libraries/
_ModuleInstall/

# more ignore - all data and log folders
grafana/data/*
grafana/log/*
influxdb2/data/*
influxdb2/config/*
mosquitto/log/*
mosquitto/data/*